form {
  background-color: #b3e1f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 150px;
  border-radius: 10px;
}
form .option-container {
  display: flex;
}
form .option-container h3 {
  border: 2px solid white;
  border-radius: 5px;
  font-size: larger;
  padding: 5px 70px;
  color: black;
}
form .option-container h3:hover {
  cursor: pointer;
}
form h1 {
  color: #184d92;
}
form input {
  font-size: large;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: none;
  background-color: white;
  color: black;
}

/*CSS for product page*/
.individulProduct {
  width: 200px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}
.individulProduct img {
  margin-left: auto;
  margin-right: auto;
}
.individulProduct h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
}
.individulProduct span {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.individulProduct button {
  background-color: #def4fd;
  color: black;
  margin-bottom: 0px;
}
.products {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  min-width: 900px; /* Prevents shrinking */
}
.itemByCategory {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  cursor: pointer;
  width: 100%; /* Ensure this section does not shrink */
}
.itemByCategory img {
  width: 300px;
  height: 150px;
}
.itemByCategory button {
  background-color: white;
}

.itemByCategory button:hover {
  border-radius: 10px;
  background-color: #def4fd;
}

.cartPageItem img {
  width: 300px;
  height: 200px;
}

.cartPageItem {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 10px;
}

.cartPageInfomation {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  padding-right: 10px;
}
.cartButton {
  position: absolute;
  right: 30px;
}
.nav-bar {
  display: flex;
  flex-direction: row;
  background-color: #88d7f6;
  justify-content: flex-start;
  width: 100%;
  min-width: 900px; /* Prevent navbar from shrinking */

  height: 70px;
}
.nav-bar button {
  background-color: #88d7f6;
}
.nav-bar-button {
  display: flex;
  margin-left: auto;
}
.nav-bar-2 {
  width: 100%;
  height: 40px;
  background-color: #def4fd;
}
.nav-bar-2 button {
  background-color: #def4fd;
}
.nav-bar-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-bar-2 button {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer {
  width: 100%;
  height: 70px;
  background-color: #def4fd;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.footer-button button {
  background-color: #def4fd;
}
.footer-button {
  display: flex;
  gap: 30px;
}
