/*CSS for Login and Signup page*/
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}
.signup-page,
.signin-page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}
form {
  background-color: #b3e1f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 150px;
  border-radius: 10px;
}
form .option-container {
  display: flex;
}
form .option-container h3 {
  /* border: 2px solid white; */
  border-radius: 5px;
  font-size: larger;
  padding: 5px 70px;
  color: black;
}
form .option-container h3:hover {
  cursor: pointer;
}
form .option-container h3.active {
  background-color: #87c5ea;
}

form h1 {
  color: #184d92;
}
form input {
  font-size: large;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: none;
  background-color: white;
  color: black;
}
form .register-info {
  display: flex;
  gap: 20px;
}
form .register-info .firstname-lastname-email-container {
  display: flex;
  flex-direction: column;
}
form .register-info .contact-username-password-container {
  display: flex;
  flex-direction: column;
}
form button {
  margin-top: 10px;
  margin-bottom: 10px;
}
.nav-bar {
  top: 0%;
}

.custom-signup-page .nav-bar-2 {
  margin-top: 5px;
  margin-bottom: 20px;
}
.custom-signin-page .nav-bar-2 {
  margin-top: -30px;
  margin-bottom: 20px;
}
/*CSS for product page*/
.individulProduct {
  width: 200px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}
.individulProduct img {
  margin-left: auto;
  margin-right: auto;
}
.individulProduct h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
}
.individulProduct span {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.individulProduct button {
  background-color: #def4fd;
  color: black;
  margin-bottom: 0px;
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the products horizontally */
  gap: 40px;
}
.itemByCategory {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  cursor: pointer;
  width: 100%; /* Ensure this section does not shrink */
}
.itemByCategory img {
  width: 300px;
  height: 150px;
}
.itemByCategory button {
  background-color: white;
}

.itemByCategory button:hover {
  border-radius: 10px;
  background-color: #def4fd;
}
.cartPageFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.cartPageFlex th:nth-child(1) {
  width: 600px;
  text-align: left;
}
.cartPageFlex th:nth-child(2),
td:nth-child(1) {
  width: 200px;
}
.cartPageFlex th {
  border-bottom: 1px solid black;
}
.cartPageFlex td {
  border-bottom: 1px solid black;
}
.cartPageItem img {
  width: 100px;
  height: 100px;
}

.cartPageItem {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 10px;
}
.cartPageInfomation {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  padding-right: 10px;
}

.summaryPageFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.summaryPageFlex th:nth-child(1) {
  width: 600px;
  text-align: left;
}
.summaryPageFlex th:nth-child(2),
td:nth-child(1) {
  width: 200px;
  text-align: center;
}
.summaryFlex th {
  border-bottom: 1px solid black;
}
.summaryPageFlex td {
  border-bottom: 1px solid black;
}
.summaryPageFlex td:nth-child(2) {
  text-align: center;
}
.summaryPageItem img {
  width: 100px;
  height: 100px;
}

.summaryPageItem {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 10px;
}
.summaryPageInfomation {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  padding-right: 10px;
}

.cartEmptyFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cartEmptyFlex button {
  margin-top: 20px;
}
.cartEmptyFlex span {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.cartPageOrder {
  border: 2px solid black;
  padding: 10px;
  height: fit-content;
  box-sizing: border-box;
  text-align: center;
}
.cartPageOrder button {
  width: 300px;
  background-color: #def4fd;
  margin-right: 20px;
}

textarea {
  resize: none;
  padding: 10px;
}

.checkout {
  display: flex;
  flex-direction: column;
}

.cartButton {
  position: absolute;
  right: 30px;
}
.nav-bar {
  display: flex;
  flex-direction: row;
  background-color: #88d7f6;
  justify-content: flex-start;
  width: 100%;
  min-width: 900px; /* Prevent navbar from shrinking */
  position: fixed;
  height: 70px;
  /* top: 10%; */
}
.nav-bar button {
  background-color: #88d7f6;
}
.nav-bar-button {
  display: flex;
  margin-left: auto;
}
.nav-bar .nav-bar-button .account-button-wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.nav-bar .nav-bar-button .account-button-wrapper button {
  margin-bottom: 0;
}
.nav-bar .nav-bar-button .account-button-wrapper .account-dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-content: center;
  border: 1px solid black;
  top: 80%;
  left: 0%;
  z-index: 10;
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
}
.nav-bar .nav-bar-button .account-button-wrapper .account-dropdown a {
  text-align: center;
  font-size: large;
  margin-bottom: 5px;
  color: black;
}
.nav-bar .nav-bar-button .account-button-wrapper .account-dropdown a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.nav-bar-2 button {
  background-color: #def4fd;
}
.nav-bar-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  background-color: #def4fd;
  margin-top: 70px;
}

.nav-bar-2 button {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.search-filter {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 100px;
  overflow-y: auto;
}
.search-filter li {
  background-color: white;
  height: 30px;
}

.footer {
  width: 100%;
  height: 70px;
  background-color: #def4fd;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.footer-button button {
  background-color: #def4fd;
}
.footer-button {
  display: flex;
  gap: 30px;
}

.navbar-3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 100px;
  width: 100%;
  height: 100px;
  background-color: #def4fd;
}
.navbar-3 button {
  background-color: #def4fd;
}

.account {
  display: flex;
  justify-content: space-between;
}

.account-headers {
  color: #184d92;
}

.account-links {
  color: #ae6c1f;
}

.account-orders {
  padding-left: 50px;
  padding-right: 50px;
}

.account-details {
  padding-right: 50px;
  display: flex;
  flex-direction: column;
}

.address-form {
  all: revert;
}

.orders {
  text-align: left;
  width: 100%;
}
.account-headers th {
  border-bottom: 1px solid #000000;
}

/*For Shipping page*/
.shipping-all-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.shipping-flex-2-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 50px;
}
.shipping-flex-1-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 50px;
}
.shipping-flex-1-container input {
  background-color: #def4fd;
  border-radius: 10px;
  width: 300px;
  height: 30px;
  border: none;
}
.shipping-flex-2-container input {
  background-color: #def4fd;
  border-radius: 10px;
  width: 300px;
  height: 30px;
  border: none;
}

.shipping-button button {
  background-color: #def4fd;
}
.shipping-button {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.shipping-editUseButton {
  margin-bottom: auto;
  margin-top: auto;
}
